@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AccountingWorksIinstruments.Web.Models.ToolViewModel>
@inject UserManager<ApplicationUser> _identityUserManager
@{
    ViewData["Title"] = "ShipmentFromBaseStock";
}

<h1 class="text-center">Отправленный материал с базы</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead class="text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosterImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDelivery)
            </th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.PosterImageUrl" style="width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDelivery)
                </td>
            
            @if (item.AspNetUsersId == _identityUserManager.FindByNameAsync(User.Identity.Name).Result.Id)
            {
            <td style="background-color:greenyellow; color:red">
                Accepted
            </td>
            }
             else if (item.MarkForDecline == true)
            {
            <td style="background-color:darkred">
                Declined
            </td>
            }
            else
            {
            <td>
                @Html.ActionLink("Accept Tool", "AcceptTool", new { toolId = item.Id }) |
                @Html.ActionLink("Decline Tool", "DeclineTool", new { toolId = item.Id })
            </td>
            }   
                </tr>
    }
        </tbody>
    </table>
