@model IEnumerable<AccountingWorksIinstruments.Web.Models.ToolViewModel>

@{
    ViewData["Title"] = "ShowMyTools";
}

<h1 class="text-center">Показать мой инструмент</h1>

<p>
    <a class="btn btn-outline-light" asp-action="PersonalAccount">На главную</a>
</p>
<table class="table">
    <thead class="text-white">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NameOfLocation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.WorkerId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NameOfLocation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.WorkerId)
            </td>*@
        </tr>
}
    </tbody>
</table>
