@using Microsoft.AspNetCore.Identity
@model AccountingWorksIinstruments.Web.Models.RoleViewModel

<h2 class="text-center text-white">Изменение ролей для пользователя @Model.UserEmail</h2>

<form asp-action="EditUsersRole" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-outline-light">Сохранить</button>
</form>