@*IEnumerable<ApplicationUser>*@

    <h2 class="text-center text-white">Список пользователей</h2>
    <table class="table">
        @foreach (var user in Model)
        {
            <tr class="text-white">
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td hidden>@user.PositionId</td>
                @*<td>
                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-userid="@user.Id">Edit</a>
                </td>*@
                <td>
                    <a class="btn btn-outline-light" asp-action="EditUsersRole" asp-route-userid="@user.Id">Change Role</a>
                </td>
                <td>
                    <a class="btn btn-outline-light" asp-action="DeleteUser" asp-route-userid="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
