IEnumerable<Microsoft.AspNetCore.Identity.User>

    <h2>Список пользователей</h2>
    <table class="table">
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.PositionId</td>
            <td>@user.LocationId</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="EditUsersRole" asp-route-userid="@user.Id">Change Role</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="DeleteUser" asp-route-userid="@user.Id">Delete</a>
            </td>
        </tr>
        }
    </table>
