@model IEnumerable<AccountingWorksIinstruments.Web.Models.LocationViewModel>

@{
    ViewData["Title"] = "Location";
}

<h1>Locations</h1>

<p>
    <a asp-action="CreateLocation">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse3)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateLocation", new { id=item.Id}) |
                @Html.ActionLink("Details", "GetByIdLocation", new { id=item.Id}) |
                @Html.ActionLink("Delete", "DeleteLocation", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
