@model IEnumerable<AccountingWorksIinstruments.Web.Models.LocationViewModel>

@{
    ViewData["Title"] = "Locations";
}

<h1>Локации</h1>

<p>
    <a asp-action="CreateLocation">Создать новую локацию</a>
</p>
<table class="table">
    <thead class="text-white text-center">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfLocation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.WarehouseId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white ">
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfLocation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.WarehouseId)
            </td>*@
            <td class="text-right">
                @Html.ActionLink("Edit", "UpdateLocation", new {  id=item.Id }) |
                @*@Html.ActionLink("Details", "GetByIdLocation", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "DeleteLocation", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
