@model IEnumerable<AccountingWorksIinstruments.Web.Models.SubmissionFromWorkersViewModel>

@{
    ViewData["Title"] = "SubmissionsFromWorkers";
}

<h1 class="text-center">SubmissionsFromWorkers</h1>


<table class="table">
    <thead class="text-white">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDelivery)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDelivery)
            </td>
            <td>
                @Html.ActionLink("Details", "SubmissionsFromWorkersDetails", new {id=item.Id}) 
            </td>
        </tr>
}
    </tbody>
</table>
